.mainsection
	overflow hidden
.slider-wrap
	overflow hidden
	display block
	height 1120px

.slider
	overflow hidden

.main-section__slider-arrows
	absolute(550px, 350px,,350px)
	height 80px
	.left-arrow
		height 100%
		z-index 2
		background-image: url("/static/img/mainsection/left-arrow.png")
	.right-arrow
		height 100%
		z-index 2
		background-image url("/static/img/mainsection/right-arrow.png")	
.arrow
	width 46px
	cursor pointer
.main-section__array-down
	cursor pointer
	z-index 2
	absolute(950px)
	margin-top 40px
	size(50px)
	background-color DarkColor
	border-radius 100%
	opacity .6
	&:after
		width 100%
		height 100%
		background-image url("/static/img/mainsection/down-arrow.png")
		display block
		content ''
		relative(20px,,,17px)
		background-repeat no-repeat
.main-section__dots
	z-index 2
	absolute(790px)
	height 20px
	margin-top 75px
	margin-bottom 40px
.owl-dots
	z-index 3
	absolute(800px)
	height 20px
	margin-top 75px
	margin-bottom 40px
	width 100%
	left 50
	.owl-dot
		transition background-color .25s ease
		cursor pointer
		height 20px
		width 20px
		display inline-block
		background-color DarkColor
		margin 0 5px 0 5px
		border-radius 100%
		&.active
			background-color Accent
@media (max-width : 1326px)
	.slider-wrap
		height 840px
	.main-section__slider-arrows
		top 440px
		left 200px
		right 200px
		.left-arrow, .right-arrow
			transform scale(0.7)
	.owl-dots
		top 580px
		.owl-dot
			size(15px,15px)
	.main-section__array-down
		top 670px
		transform scale(0.7)
	@media screen and (min-width : $tabletMobile-min) and (max-width : $tabletMobile-max)
		.slider-wrap
			height 690px
		.main-section__slider-arrows
			z-index 99
			padding 0
			top 410px
			left 70px
			right 70px
			transform scale(0.6)
		.owl-dots
			margin 0
			top 600px
			.owl-dot
				size(12px,12px)	
		.main-section__array-down
			top 590px					
			transform scale(0.5)
	@media screen and (min-width : $mobile-min) and (max-width : $iphone5-max = 568px)
		.slider-wrap
			height 420px
		.owl-dots, .main-section__array-down
			top 330px
		.main-section__slider-arrows
			margin 0 -200px
			top 270px
			left 0px
			right 0px
			transform scale(0.3)
		.owl-dots
			margin 0
			top 360px
			.owl-dot
				margin 0 3px
				size(8px,8px)	
		.main-section__array-down
			top 330px					
			transform scale(0.5)
	


	
