block section-header
	div.section__title.flex-column
		h2.title-h2= sectionheadertitle
		div.separator
			img.separator-img(src="../static/img/general/separator.png")
		p.content-p= sectionheadercontent
