div.slide
	div.container
		div.flex-column
			h1.main-section__title= "Главный  заголовок " + val
			div.main-section__line.flex-container.flex-center
				div.line
				div.square
				div.line
			h4.main-section__text  Lorem ipsum dolor sit amet, consectetur adipisicing #[br]elit, sed do eiusmod tempor incididunt#[br] ut labore et doloremagna aliqua. 
			.flex-container
				a(id="zayavka").button.orange-theme.main-section__button Оформить заявку