// ЦВЕТА
Accent = #ff8207
DarkColor = #28363d
FootColor = #1e292f


// РАЗМЕРЫ
$items = 6
$transition-duration= 0.5s
$transition-delay= 0.05s
/* Tablet - Mobile */
$tabletMobile-min = 320px
$tabletMobile-max = 1024px	/* Tablet */
$tablet-min = 768px
$tablet-max = 1024px
/* Mobile */
$mobile-min = 320px
$mobile-max = 767px	/* Mobile iPhone 6 and 6 plus */
$iphone6-min = 375px
$iphone6-max = 736px
/* Iphone 5 */
$iphone5-min = 320px
$iphone5-max = 568px

// ШРИФТЫ
MainFont = 'FiraSansCondensed-Medium', Arial, sans-serif
BoldFont = 'FiraSansCondensed-SemiBold', Arial, sans-serif
LightFont = 'FiraSansCondensed-Light', Arial, sans-serif