// ЦВЕТА
Accent = #ff8207
DarkColor = #28363d
FootColor = #1e292f


// РАЗМЕРЫ
$items = 6
$transition-duration= 0.5s
$transition-delay= 0.05s

// ШРИФТЫ
MainFont = 'FiraSansCondensed-Medium', Arial, sans-serif
BoldFont = 'FiraSansCondensed-SemiBold', Arial, sans-serif
LightFont = 'FiraSansCondensed-Light', Arial, sans-serif