.our-work-section
	overflow hidden
	padding-top 70px
	border-top 4px solid Accent
	border-bottom 2px solid #b5c4c4
	background-image url("/static/img/ourworksection/city.jpg")
	width 100%
	min-height 975px
	text-align center
	background-size cover
	background-repeat no-repeat
	background-position-x -5px

.our-work-section__container
	min-width 70%
.our-work-section__item
	min-width 460px
	max-width 460px
	margin 0 10px
	overflow hidden
	height 320px
	flex: 1 30%;
	background-color DarkColor
	margin-bottom 10px
	position relative
	img
		max-height 320px
		max-width 460px
		margin auto
	&:hover
		.item-description
			visibility visible
			bottom 0px
.item-description
	visibility hidden
	transition .5s
	padding 15px 55px
	text-align left
	absolute(,,-100px,)
	size(100%, 100%)
	height auto
	background-color #d4d7d8
	.separator
		margin 5px 0

		
		
.item-description__h4
	color #28363d
	font-family BoldFont
	letter-spacing 2px
	font-size rem(18)
.item-description__p
	text-transform uppercase
	font-size rem(16)
	font-family LightFont
	color #7b7b7b
	letter-spacing 2px

	

.our-work-section__items-wrapper
	margin-top 60px

@media screen and (min-width : $tabletMobile-min) and (max-width : $tabletMobile-max)
	.our-work-section
		padding 40px 0
	.our-work-section__items-wrapper
		margin-top 20px
	.item-description
		padding 10px
		height auto
@media screen and (min-width : $mobile-min) and (max-width : $iphone5-max = 568px)
	.our-work-section
		padding 30px 0
	.our-work-section__items-wrapper
		margin-top 15px
	.our-work-section__container
		min-width 100%
	.our-work-section__item
		min-width 97%
		max-width 97%
		height 260px
	.item-description
		padding 15px 55px
	.item-description__h4
		font-size rem(14)
	.item-description__p
		font-size rem(10)
		letter-spacing 2px