@font-face {
    font-family: 'Raleway';
    src: local("../fonts/Raleway Light"), local("../fonts/Raleway-Light"), url("../fonts/ralewaylight.woff2") format("woff2"), url("../fonts/ralewaylight.woff") format("woff"), url("../fonts/ralewaylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local("../fonts/Raleway Regular"), local("../fonts/Raleway-Regular"), url("../fonts/ralewayregular.woff2") format("woff2"), url("../fonts/ralewayregular.woff") format("woff"), url("../fonts/ralewayregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local("../fonts/Raleway Bold"), local("../fonts/Raleway-Bold"), url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff"), url("../fonts/ralewaybold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local("../fonts/Raleway Black"), local("../fonts/Raleway-Black"), url("../fonts/ralewayblack.woff2") format("woff2"), url("../fonts/ralewayblack.woff") format("woff"), url("../fonts/ralewayblack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

html {
    line-height: 1.3;
    font-size: 16px;
}

body {
    font-family: mainFont;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-form-style {
    background-color: #fff;
    padding: 3.125rem 3.75rem;
    box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.2);
}

.button {
    cursor: pointer;
    display: block;
}

input::-webkit-input-placeholder {
    color: #e9e9e9;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    color: #e9e9e9;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    color: #e9e9e9;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    color: #e9e9e9;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.header {
    font-family: "Raleway", Arial, sans-serif;
    width: 100%;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-4 {
    margin: auto;
    font-weight: 700;
    font-size: 1.1875rem;
    color: #9e9e9e;
}

.header__header-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 3.125rem 3.75rem;
    box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.2);
}

.header-form__inputs-wrapper {
    margin-top: 2.5rem;
}

.header-form__label {
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.header-form__field-wrapper {
    position: relative;
    margin-bottom: 1.25rem;
}

.header-form__input {
    min-width: 15.625rem;
    min-height: 2.5rem;
    padding: 0.9375rem 0.5rem;
    border: 1px solid #d8d8d8;
}

.header-form__input[type='email'] {
    min-height: 3.75rem;
}

.header-form__input:focus + .header-form__text {
    visibility: visible;
    background-color: #edd378;
    top: -100%;
    left: 0;
    color: #343434;
    padding: 0.625rem 1.25rem;
}

.header-form__input:focus + .header-form__text:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #edd378;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: rotate(45deg) translateX(-50%) translateY(100%);
    transform: rotate(45deg) translateX(-50%) translateY(100%);
}

.header-form__text {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: block;
    visibility: hidden;
    pointer-events: none;
    cursor: text;
    color: #c9c9c9;
    left: 9px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.9375rem;
}

.header-form__submit {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 2.5rem;
    margin: 0.625rem auto;
    min-width: 6.25rem;
    padding: 0.3125rem 0.9375rem;
    background-color: #47c683;
    border: none;
    color: #fff;
    font-size: 0.9375rem;
    box-shadow: 0px 3px 0px 0px rgba(39, 128, 81, 0.9);
}

.header-form__submit:hover {
    background-color: #3aba76;
}

.header-link {
    margin: 0.625rem auto;
    font-size: 0.9375rem;
    color: rgba(75, 112, 174, 0.86);
}


