.review-section
	text-align center
	padding 0 460px
	padding-bottom 100px
.review-section__items-wrapper
	margin-top 20px

.review-section__left-column-wrapper
	width 400px
	float right
.review-section__left-column-items
	text-align left
	.review-section__h4
		color Accent
.review-section__right-column-wrapper
	text-align left
	.review-section__h4
		color #28363d
	input, textarea
		height 23.4px
		width 540px
		background-image url("/LandingTest/static/img/reviewsection/line.png")
		border none
		margin-top 15px
		font-style italic
		background-position bottom
		background-repeat no-repeat
	.textarea
		background-image url("/LandingTest/static/img/reviewsection/lines.png")
		height 100px
		line-height 20px
		overflow: hidden
		background-position 0 -5px
	.review-section__submit-button
		size(220px,60px)
		align-self flex-end
		font-style normal
		text-transform uppercase

.review-section__underline
	margin 25px 0 35px 0	
			

.review-section__h4
	letter-spacing 1px
	margin-top 15px
	font-size rem(24)
.review-section__p
	color #b5c4c4
	font-size rem(18)
	margin-top 15px
.review-section__right-column-photo-button
	padding-top 3px
	margin-right 15px
	size(50px,60px)
	.text
		font-size rem(40)
		font-family LightFont
.review-section__underline
	background url("/LandingTest/static/img/reviewsection/line.png")
	height 2px
	width 300px


	
	

