//Кнопки
@import "buttons.styl"

.dot
	transition background-color .25s ease
	cursor pointer
	display block
	size(20px,20px)
	background-color DarkColor
	border-radius 100%
	&.active
		background-color Accent
.horizontal-dot
	margin 0 5px 0 5px