.header
	z-index 998
	position relative
	white-space nowrap
	overflow hidden
	fixed()
	width 100%
	height 120px
	align-items center
.nav
	height 100%
	margin 0 20px
	flex 1 50%
	text-transform uppercase
	font-size rem(15) 
	font-family MainFont
.menu-item
	flex 1 20%
	transition all .5s ease
	padding 47px 35px 0 35px 
	height 100%
	text-align center
.nav-link
	margin 0 5px
	height 100%
	&.active
		background-color FootColor
		color #6b848c
		&::after
			content ''
			display block
			min-width 100%
			min-height 4px
			background-color orange
			relative(-4px)
	&:hover
		&::after
			content ''
			display block
			min-width 100%
			min-height 4px
			background-color orange
			relative(-4px)
	
.top-contacts
	line-height rem(40px)
	display block

.header__phone
	relative(15%,0,,)
	text-align left
	color Accent
	font-size rem(24px)
	font-family BoldFont
.logo__img
	relative(30%,,,0)

@media (max-width : 1326px)
	.header
		height 100px
	.top-contacts
		line-height rem(40px)
	.header__phone
		font-size rem(18px)
	.menu-item
		padding 40px 17px
	.nav
		margin 0 10px
		font-size rem(14)
	@media screen and (min-width : $tabletMobile-min) and (max-width : $tabletMobile-max)
		.header
			padding 0px
			.flex-container
				justify-content space-evenly
		.top-contacts
			text-align right
		.menu-item
			height auto
			width 100%
			padding 0px
		.nav
			transition all .5s ease
			z-index 998
			background-color rgba(29,37,41,.98)
			fixed(0px,-50%,0px,)
			margin 0
			width 50%
		.nav-link
			margin-top 20px
			font-size 17px
			display block
			width 100%
			height 40px
			pointer-events none
			&:after
				display none
				background-color transparent
			&:hover
				background-color none
				&:after
					display none
			&.active
				color #fff
				background-color Accent
				&.menu-item
					background-color Accent
				&:after
					display none
	#toggle:checked
		& ~ .nav
			padding-top 80px
			fixed(0px,0px,0px,)
			.menu-item
				padding 10px
				color white
				transform: scaleY(1);
				transition: all .6s ease-out;
				&:before 
					opacity: 0;
				&:hover
					background-color rgba(255,130,7,.4)
				&:after
					display none
			.nav-link
				pointer-events auto
				&.active
					.menu-item
						&:after
							display none
@media screen and (min-width : $mobile-min) and (max-width : $iphone5-max)
	.header
		padding 0px
		.flex-container
			justify-content center
			padding 0 40px 0 0






	

	


	
	
	
