.table-wrapper
	position relative
	min-height 100%
	display none
	margin 0
.container-fluid
	width 100%	
.table-row.header
	
	background-color #d5ecff
	max-width 100%
	color #343434
.table-row  
	border-bottom 1px solid #f2f2f2
	padding rem(10) rem(10)
	width 100%
	font-size rem(12)
	display: flex          
	flex-direction: row     
	flex-wrap: no-wrap   
	justify-content space-between   
	align-items center
	width: 100% 
	
.wrapper  
	display: flex  
	flex-direction: row  
 


.column  
	flex-grow: 0  
	flex-shrink: 1 
	vertical-align: top 
 

.index  
	text-align: center 
 

.title  
	font-weight: bold 
	color: #337AB5 
 

 
.table-img 
	width 5%
	img 
		padding rem(10)
		max-width 100%
		border 2px solid #f2f2f2
		
		@media (max-width: 1200px)
			padding 0
.type
	width: 20%
.title-table 
	width 20%
.power  
	width 13%
.napr , .type-start ,.price,.severity ,.module
	width 10%

.comment
	flex-wrap wrap
 


 





.reporter {
  color: #999999;
}
.comment {
  font-style: italic;
}

.severity.high { color: red; }
.severity.medium { color: blue; }
.severity.low { color: green; }