.footer
	color #fff
	font-family LightFont
	padding-top 60px
	height 250px
	width 100%
	background-color DarkColor
	background-image url("/LandingTest/static/img/footer/background.jpg") 
	background-repeat no-repeat 
	background-size cover
	.separator 
		margin 10px 0

.footer__left-col
	width 100%
.footer__center-col
	text-align center
	&>.flex-container
		&>div
			margin 0 10px
.footer__h4
	margin-bottom 40px
	letter-spacing 1px
.footer__left-col__text
	font-family LightFont
.footer__right-col
	text-align right
.copyrights
	height 60px
	background-color FootColor
	border-bottom 2px solid Accent
	.copyrights-text
		margin-top 20px
		letter-spacing 3px


