.table-wrapper
  <div class="container-fluid" style="margin-top: 10px">
    <div class="table-row header">
      <div class="column table-img"></div>
      <div class="column title-table">Модель</div>
      <div class="column type">Тип</div>
      <div class="column power">Мощность</div>
      <div class="column napr">Напряжение</div>
      <div class="column type-start">Тип запуска</div>
      <div class="column price">Цена</div>
        </div>
      </div>
      - for (var i = 0; i<8; i++){
        <div class="table-row">
          <div class="column table-img">
            img(src="static/img/content/bolgar.jpg", alt="")
          </div>
          .flex-column.title-table.column
            <div class="">Генератор Skill 9005E</div>
            <div class="column id-table">E485795</div>
          <div class="column type">Бензиновый</div>
          <div class="column power">5кВт</div>
          <div class="column napr">220</div>
          <div class="column type-start">Ручной</div>
          <div class="column price"><span class="label label-primary">56390 руб.</span></div>
        </div>
      - }


        </div>
