footer(id="fifthSection").footer
	div.container
		div.flex-container.flex-space-between

			div.flex-triple-col
					div.footer__left-col
						block logo
						div.separator
							img.separator-img(src="../static/img/general/separator.png")
						p.footer__left-col__text Дисклеймер компании

			div.flex-triple-col
				div.footer__center-col
					h4.footer__h4 мы в соцсетях
					div.separator
						img.separator-img(src="../static/img/general/separator.png")
					div.flex-container.flex-center
						div.instagram
							img(src="../static/img/footer/instagram.png")
						div.twitter
							img(src="../static/img/footer/twitter.png")
						div.facebook
							img(src="../static/img/footer/facebook.png")

			div.flex-triple-col
				div.footer__right-col
					h4.footer__h4 адрес
					div.separator
						img.separator-img(src="../static/img/general/separator.png")
					p.footer__left-col__text г. Минск, ул. Скрыганова, 6А, #[br]4 этаж


	div.copyrights
		div.flex-container.flex-center
			h4.copyrights-text Copyrights 2015 © Webcom Media