//nav - variable in pug.js which takes data from 
// /data/navigation.json
header.header.dark-theme
	.container
		div.flex-container
			block logo
			block button-toggle
			ul(id="menu").nav
				each link, title in nav.navPages 
					a(href=link).nav-link
						li.menu-item
							= title
			div.top-contacts
				span.header__phone 
					a(href="#").orange-text. 
						+375 (29) 123-45-67#[br]
					a(href="#").orange-text. 
						+375 (29) 123-45-67	

