section(id="firstSection").section.main-section
	div.slider-wrap
		.flex-column
			div.main-section__slider-arrows
				div.flex-container.flex-space-between
					div.left-arrow.arrow.prev
					div.right-arrow.arrow.next
		
		div.slider
			each val in [1,2,3,4,5]
				div.slide-wrap
					block slide
		.flex-container
			a(href="#secondSection").main-section__array-down
				
				