-var sectionheadercontent = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut."
-var sectionheadertitle ="Наша работа"
section(id="secondSection").our-work-section.section.fp-auto-height-responsive
	div.flex-column
		block section-header
		div.our-work-section__items-wrapper
			div.our-work-section__container
				div.flex-container.flex-row-wrap
					each val in [1,2,3,4,5,6]
						a(href="").our-work-section__item
							div.flex-container.fullheight
								img(src="../static/img/ourworksection/img-bg.png" alt="img")
								div.item-description
									div.item-description__h4 
										h4= "Название работы " + val
									div.separator
										img.separator-img(src="../static/img/general/separator.png")
									div.item-description__p= "Описание работы " + val
					
