		a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы
					a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы
					a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы
					a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы
					a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы
					a(href="").our-work-section__item
						div.flex-container.fullheight
							img(src="/static/img/ourworksection/img-bg.png" alt="img")
							div.item-description
								div.item-description__h4 
									h4 Название работы
								div.separator
									img.separator-img(src="/static/img/general/separator.png")
								div.item-description__p Описание работы